<div style="display: flex; align-items: center; flex-direction: column;">
    <h4>You can make your own url to create a "private" todo list.</h4>
    <h4>Try putting after the "/" like: /Work-day</h4>
    <h4>But remember, anyone can access it!</h4>
  </div>
<p style="display: flex; justify-content: center;">Copyright 1999 Sebinha</p>
</body>
</html>
